[Unit]
Description=iOvenado Bluetooth Datalogger Service
After=bluetooth.service
Requires=bluetooth.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/iovenado/iovenado-datalogger
ExecStartPre=/usr/bin/hciconfig hci0 up
ExecStartPre=/usr/bin/hciconfig hci0 piscan
ExecStartPre=/home/iovenado/iovenado-datalogger/venv/bin/python /home/iovenado/iovenado-datalogger/bluetooth_service/bt_agent_pin.py > /dev/null 2>&1 &
ExecStart=/home/iovenado/iovenado-datalogger/venv/bin/python -u /home/iovenado/iovenado-datalogger/bluetooth_service/bt_server.py
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
